body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
	background-image: 	url(bg.png);
  	background-position: center;
  	background-size: cover;
	    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 300px;
  	height: 500px;
    margin: 0 auto;
    padding:30px;
    background-color: #fff8f8;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
  	font-family:"Poppins", sans-serif;
  	color : #5a5656
}
.form-group {
    margin-bottom: 15px;
    color : #5a5656
}
.form-group a{
    text-decoration: none;
    color: white;
}
label {
    display: block;
    font-weight: bold;
  	font-family:"Poppins", sans-serif;
}
input[type="text"],
input[type="password"] {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
}
.forget-pass {
  	margin-bottom : 15px;
    text-align: right;
}

.forget-pass a{
	font-size: 0.80em;
    color: #e79699;
}

.forget-pass a:hover {
  	text-decoration: underline;
}
button  {
    width: 100%;
    padding: 10px;
    background-color: #ffB8BA;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
button a{
    color: #fff;
}
button:hover {
    background-color: #ffeeee;
}

.extra {
  	margin-bottom:15px;
  	font-size: 0.80em;
  	color : #5a5656;
}

.extra a {
  	color: #e79699;
}


